  body {
      position: relative; 
  }
  
  #section1 {background-color: #1E88E5;}
  #section2 {background-color: #673ab7;}
  #section3 {background-color: #ff9800;}

.section{
    padding-top: 20%;
    height: 100vh;
}